// Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

// Variables and colours
:root {
  --primary: #23408e;
  --primary-rgb: 35, 64, 142;
  --default-bg: #fff;
}

// Mixins and SCSS variables
$max-width: 1000px;

// Resets and defaults
*,
::before,
::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote,
body,
dd,
dl,
dt,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
li,
ol,
p,
pre,
table,
ul {
  margin: 0;
  padding: 0;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

figure img {
  display: block;
}

// Typography
h3 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 4px;
}

// General
html {
  font-size: 100%;
  overflow-x: hidden;
  height: 100%;
  background: var(--default-bg);
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-width: 300px;
  color: var(--primary);
  background-color: var(--default-bg);
}

.o-container {
  max-width: $max-width;
  margin: auto;
}

// Primary navigation
.primary-nav {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  height: 86px;

  &__item {
    display: inline-block;
    text-transform: uppercase;
  }

  &__logo {
    display: inline-block;
    width: 100px;
  }
}

// Landing
.landing main > section {
  padding: 30px 0;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;

  &::after {
    display: block;
    content: "";
    height: 10px;
    width: 100px;
    margin: auto;
    background-image: url(../img/waves_o.svg);
  }

  &.t-white::after {
    background-image: url(../img/waves_w.svg);
  }
}

.landing-hero {
  text-align: center;
  background-image: url(../img/homehero.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  height: 800px;
}

.landing-overlay {
  width: 100%;
  height: 800px;
  display: block;
  position: absolute;
  background-color: #23408e;
  opacity: 0.5;
}

.meist {
  text-align: center;

  p {
    padding-bottom: 15px;
  }
}

.cta {
  display: flex;
  background-color: var(--primary);
  color: #fff;

  &__block {
    width: 100%;

    &.read-more {
      width: 40%;
    }
  }
}

.sponsors {
  display: flex;
  justify-content: space-evenly;
  list-style: none;

  .sponsor {
    &__link {
      display: flex;
      align-items: center;
    }

    &__img {
      height: 100px;
      filter: grayscale(100%);

      &--tallink {
        padding: 30px 0;
      }
    }
  }
}

// Footer
.footer {
  padding: 30px 0;
  background-color: var(--primary);
  color: #fff;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    display: inline-block;
  }

  .title {
    text-transform: uppercase;
  }

  .logo img {
    width: 200px;
  }
}
