// Fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@400;600;800&display=swap");

// Variables and colours
:root {
  --primary: #23408e;
  --primary-rgb: 35, 64, 142;
  --default-bg: #fff;
}

// Mixins and SCSS variables
$max-width: 1000px;
$hero-height: 850px;

// Resets and defaults
*,
::before,
::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote,
body,
dd,
dl,
dt,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
li,
ol,
p,
pre,
table,
ul {
  margin: 0;
  padding: 0;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

figure img {
  display: block;
}

// Typography
h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 4px;
}

b {
  font-weight: 600;
}

// General
::-moz-selection,
::selection {
  color: #fff;
  background-color: #7993db;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  height: 100%;
  background: var(--default-bg);
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-width: 300px;
  color: var(--primary);
  background-color: var(--default-bg);
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.o-container {
  max-width: $max-width;
  margin: auto;
}

// Primary navigation
.primary-nav {
  padding-top: 20px;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86px;
  --item-spacing: 70px;

  &__sec {
    width: calc(50% - 75px);
    display: flex;

    &--left {
      justify-content: flex-end;
    }
  }

  &__sec--left &__item:first-child,
  &__sec--right &__item:first-child {
    margin-right: var(--item-spacing);
  }

  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 0.875rem;
  }

  &__logo {
    display: inline-block;
    width: 120px;
    margin: 0 var(--item-spacing);
  }
}

// Landing
.landing main > section {
  padding: 30px 0;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;

  &::after {
    display: block;
    content: "";
    height: 10px;
    width: 100px;
    margin: auto;
    background-image: url(../img/waves_o.svg);
  }

  &.t-white::after {
    background-image: url(../img/waves_w.svg);
  }
}

.landing-hero {
  text-align: center;
  background-image: url(../img/homehero.jpg);
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
  height: $hero-height;
  position: relative;
  color: #fff;

  &__content {
    position: relative;
    z-index: 5;
    padding-top: 120px;
    text-transform: uppercase;
    font-family: "Bebas Neue", Raleway, sans-serif;

    h1 {
      font-size: 6rem;
      font-weight: 400;
    }

    h2 {
      font-size: 4.5rem;
      font-weight: 400;
    }
  }
}

.landing-waves {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -80px;
}

.landing-overlay {
  width: 100%;
  height: $hero-height;
  display: block;
  position: absolute;
  background-color: #23408e;
  opacity: 0.7;
  z-index: 2;
}

.meist {
  text-align: center;

  .section-title {
    z-index: 5;
  }

  p {
    padding-bottom: 15px;
  }
}

.cta {
  display: flex;
  background-color: var(--primary);
  color: #fff;

  &__block {
    width: 100%;

    &.read-more {
      width: 40%;
    }
  }
}

.sponsors {
  display: flex;
  justify-content: space-evenly;
  list-style: none;

  .sponsor {
    &__link {
      display: flex;
      align-items: center;
    }

    &__img {
      height: 100px;
      filter: grayscale(100%);

      &--tallink {
        padding: 30px 0;
      }
    }
  }
}

// Footer
.footer {
  padding: 30px 0;
  background-color: var(--primary);
  color: #fff;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    display: inline-block;
  }

  .title {
    text-transform: uppercase;
  }

  .contacts {
    .title {
      padding-bottom: 1rem;
    }

    .contact {
      padding-bottom: 0.5rem;
      font-size: 0.875rem;
    }
  }

  .snippets .title {
    padding-bottom: 0.5rem;
  }

  .social .icons {
    list-style: none;

    .icon {
      display: inline-block;

      &:nth-child(2) {
        margin: 0 3px;
      }

      img {
        width: 30px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .logo img {
    width: 200px;
  }
}
