@{
    ViewData["Title"] = "Pildid";
    ViewData["Description"] = "Vanad ajad, head mälestused, rõõmsad lapsed.";
    ViewData["BodyClass"] = "pildid";
}

<div class="o-container">
    <div class="u-banner u-banner--warning">
        <p>
            Pilte ei saa hetkel näha, sest töötame uue süsteemi kallal, et
            kõikide vahetuste ning ka iidamast-aadamast pildid oleksid hõlpsasti
            kättesaadavad.
        </p>
    </div>
    <div class="picbox">
        <a class="picbox__sec" href="">
            <h3 class="section-title t-white">2020<br/>Pildid</h3>
        </a
        >
        <a class="picbox__sec" href="">
            <h3 class="section-title t-white">2019<br/>Pildid</h3>
        </a
        >
        <a class="picbox__sec" href="">
            <h3 class="section-title t-white">2018<br/>Pildid</h3>
        </a
        >
        <a class="picbox__sec" href="">
            <h3 class="section-title t-white">2017<br/>Pildid</h3>
        </a
        >
        <a class="picbox__sec" href="">
            <h3 class="section-title t-white">2016<br/>Pildid</h3>
        </a
        >
        <a class="picbox__sec" href="">
            <h3 class="section-title t-white">2015<br/>Pildid</h3>
        </a
        >
        <a class="picbox__sec" href="">
            <h3 class="section-title t-white">2014<br/>Pildid</h3>
        </a
        >
        <a class="picbox__sec" href="">
            <h3 class="section-title t-white">2013<br/>Pildid</h3>
        </a
        >
        <a class="picbox__sec" href="">
            <h3 class="section-title t-white">2012...<br/>Pildid</h3>
        </a
        >
    </div>
</div>
<section class="sponsorid">
    <h3 class="section-title">Meid Toetavad</h3>
    <ul class="sponsors">
        <li class="sponsor">
            <a class="sponsor__link" href="https://www.hm.ee/et" target="_blank">
                <img alt="Haridus- ja Teadusministeerium" class="sponsor__img" src="~/img/hm_600px.png"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://mil.ee/uksused/ohuvagi/lennubaas/" target="_blank">
                <img alt="Lennubaas" class="sponsor__img" src="~/img/lennubaas_600px.png"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://veeteedeamet.ee/et" target="_blank">
                <img alt="Veeteede amet" class="sponsor__img" src="~/img/va_600px.png"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://www.tallink.ee" target="_blank">
                <img alt="Tallink" class="sponsor__img sponsor__img--tallink" src="~/img/tallink.svg"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://emsa.ee/" target="_blank">
                <img alt="EMSA" class="sponsor__img" src="~/img/emsa_600px.png"/>
            </a>
        </li>
    </ul>
</section>