<footer class="footer">
    <div class="o-container">
        <div class="footer__content">
            <div class="footer__col contacts">
                <h4 class="title">Kontakt</h4>
                <div class="contact">
                    <b>MTÜ Noorte Mereklubi</b>
                    <p>Reg. Nr. 80067875</p>
                </div>
                <div class="contact">
                    <b>Sõudebaasi tee 23</b>
                    <p>13517 Tallinn</p>
                </div>
                <div class="contact">
                    <b>info@merelaager.ee</b>
                    <p>+372 5628 6586</p>
                </div>
            </div>
            <div class="footer__col snippets">
                <div class="search">
                    <h4 class="title"><label for="search">Otsing</label></h4>
                    <input
                            class="search-box"
                            id="search"
                            name="search"
                            placeholder="See veel ei tööta :)"
                            type="search"
                    />
                </div>
                <div class="social">
                    <h4 class="title">Jälgige meid</h4>
                    <ul class="icons">
                        <li class="icon">
                            <a href="https://www.facebook.com/merelaager/"
                            ><img alt="Facebook" src="/media/img/fb_icon.svg"
                            /></a>
                        </li>
                        <li class="icon">
                            <a href="https://www.instagram.com/merelaager/"
                            ><img alt="Instagram" src="/media/img/ig_icon.svg"
                            /></a>
                        </li>
                        <li class="icon">
                            <a href="https://youtu.be/traAY8Hqg_U">
                                <img alt="Youtube" src="/media/img/yt_icon.svg"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__col logo">
                <a href="/">
                    <img alt="Merelaagri logo" src="/media/img/merelaager_logo_white.svg"/>
                </a>
            </div>
        </div>
        <div class="footer__legal">
            <!-- Copyright -->
            <span>© 2020 Merelaager</span>
            <!-- Sitemap -->
            <a href="/sisukaart/">Sisukaart</a>
            <!-- Terms of Service -->
            <a href="/oiguslik/kasutajatingimused">Kasutajatingimused</a>
            <!-- Privacy Policy -->
            <a href="/oiguslik/isikuandmed/">Isikuandmete töötlemine</a>
            <!-- Legal -->
            <a href="/oiguslik/">Õiguslik teave</a>
            <!-- Cookies -->
            <a href="/oiguslik/kupsised/">Küpsised</a>
        </div>
    </div>
</footer>