<div id="newsite-notice" class="u-popup u-popup--notice">
  <div id="newsite-notice-x" class="u-popup__close">X</div>
  <div class="o-container">
    <p>Tere tulemast uuele laagri veebilehele. Veebileht on alles töös, nii et
      kogu info ei ole veel üleval, ent saate juba tutvuda uuendustega. Vana
      saiti on võimalik sirvida
      <a href="https://vana.merelaager.ee" class="t-visible">siin</a>. Saidiga
      seotud küsimused ja probleemid palun saatke meiliaadressile
      <a href="mailto:webmaster@merelaager.ee">webmaster@merelaager.ee</a>.</p>
  </div>
</div>