<section class="sponsorid">
    <h3 class="section-title">Meid Toetavad</h3>
    <ul class="sponsors">
        <li class="sponsor">
            <a class="sponsor__link" href="https://www.hm.ee/et" target="_blank"
            ><img
                    alt="Haridus- ja Teadusministeerium"
                    class="sponsor__img"
                    src="/media/img/hm_600px.png"
            /></a>
        </li>
        <li class="sponsor">
            <a
                    class="sponsor__link"
                    href="https://mil.ee/uksused/ohuvagi/lennubaas/"
                    target="_blank"
            ><img
                    alt="Lennubaas"
                    class="sponsor__img"
                    src="/media/img/lennubaas_600px.png"
            /></a>
        </li>
        <li class="sponsor">
            <a
                    class="sponsor__link"
                    href="https://veeteedeamet.ee/et"
                    target="_blank"
            ><img
                    alt="Veeteede amet"
                    class="sponsor__img"
                    src="/media/img/va_600px.png"
            /></a>
        </li>
        <li class="sponsor">
            <a
                    class="sponsor__link"
                    href="https://www.tallink.ee"
                    target="_blank"
            ><img
                    alt="Tallink"
                    class="sponsor__img sponsor__img--tallink"
                    src="/media/img/tallink.svg"
            /></a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://emsa.ee/" target="_blank"
            ><img
                    alt="EMSA"
                    class="sponsor__img"
                    src="/media/img/emsa_600px.png"
            /></a>
        </li>
    </ul>
</section>