<section class="sponsorid">
  <h3 class="c-section-heading">Meid Toetavad</h3>
  <ul class="sponsors">
    <li class="sponsor">
      <a class="sponsor__link" href="https://harno.ee/" target="_blank"><img
          alt="Haridus- ja Noorteamet"
          class="sponsor__img sponsor__img--vector"
          src="/media/img/sponsors/harno.svg"
        /></a>
    </li>
    <li class="sponsor">
      <a class="sponsor__link" href="https://emsa.ee/" target="_blank"><img
        alt="EMSA"
        class="sponsor__img sponsor__img--vector"
        src="/media/img/sponsors/emsa.svg"
      /></a>
    </li>
    <li class="sponsor">
      <a class="sponsor__link" href="https://bwb.ee/" target="_blank"><img
        alt="Baltic Workboats"
        class="sponsor__img sponsor__img--vector sponsor__img--black"
        src="/media/img/sponsors/bwb.svg"
      /></a>
    </li>
    <li class="sponsor">
      <a
        class="sponsor__link"
        href="https://www.viking-life.com/"
        target="_blank"
      ><img
          alt="Viking Life-Saving"
          class="sponsor__img sponsor__img--vector"
          src="/media/img/sponsors/viking.svg"
        /></a>
    </li>
    <li class="sponsor">
      <a class="sponsor__link" href="https://meredivisjon.ee/" target="_blank"><img
        alt="Meredivisjon"
        class="sponsor__img sponsor__img--vector"
        src="/media/img/sponsors/meredivisjon.svg"
      /></a>
    </li>
    <li class="sponsor">
      <a class="sponsor__link" href="https://laaneharju.ee/" target="_blank"><img
        alt="Lääne-Harju vald"
        class="sponsor__img sponsor__img--vector sponsor__img--padded"
        src="/media/img/sponsors/laane-harju.svg"
      /></a>
    </li>
    <li class="sponsor">
      <a
        class="sponsor__link"
        href="https://www.tallinn.ee/est/"
        target="_blank"
      ><img
        alt="Tallinn"
        class="sponsor__img sponsor__img--vector sponsor__img--padded"
        src="/media/img/sponsors/tallinn.svg"
      /></a>
    </li>
  </ul>
</section>