<!DOCTYPE html>
<html dir="ltr" lang="et">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, inital-scale=1.0, viewport-fit=conver" />
  <title>Index</title>
  <link href="./master.css" rel="stylesheet" type="text/css" />
</head>
<body>
  {{{body}}}
</body>
</html>

