<!DOCTYPE html>
<html dir="ltr" lang="et">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>{{title}}</title>
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <link href="/media/css/master.min.css" rel="stylesheet" type="text/css" />
    <!-- Humans -->
    <link rel="author" href="/humans.txt" />
    <!-- Script -->
    <script async defer src="{{script_path}}" type="module"></script>
  </head>
  <body class="{{body_class}}">
    {{{body}}}
  </body>
</html>