<div class="c-emptyhack__container">
  <div class="c-emptyhack">
    <h3>Loo konto</h3>
    <p>Tärniga väljad on kohustuslikud</p>
    <form action="/api/account/create/" method="post">
      <div class="form-row">
        <label for="name">Täisnimi*</label>
        <input id="name" type="text" name="name" required />
      </div>
      <div class="form-row">
        <label for="nickname">Hüüdnimi või eesnimi</label>
        <input id="nickname" type="text" name="nickname" />
      </div>
      <div class="form-row">
        <label for="username">Kasutajanimi*</label>
        <input id="username" type="text" required name="username" />
      </div>
      <div class="form-row">
        <label for="password">Salasõna*</label>
        <input id="password" type="password" required name="password" />
      </div>
      <div class="form-row">
        <label for="token">Token*</label>
        <input id="token" type="text" required name="token" />
      </div>
      <button>Loo</button>
    </form>
  </div>
</div>