<p>Loo konto</p>
<form action="/api/su/create/" method="post">
  <label for="name">Nimi</label>
  <input id="name" type="text" name="name" />
  <br />
  <label for="username">Kasutajanimi</label>
  <input id="username" type="text" required name="username" />
  <br />
  <label for="password">Salasõna</label>
  <input id="password" type="password" required name="password" />
  <br />
  <label for="token">Token</label>
  <input id="token" type="text" required name="token" />
  <button>Loo</button>
</form>