<form class="registration-form" action="./generate/" method="post">
    <label for="mail">Lapsevanema email</label>
    <input type="email" name="meil" id="mail">
    <button>Genereeri</button>
</form>