<label for="mail">Lapsevanema meil</label>
<input type="email" name="meil" id="mail">
<button id="fetch">Leia</button>
<button id="gen">Genereeri</button>
<div class="u-banner u-banner--warning">
    <p>"Genereeri" asendab olemasoleva arve uuega (tänase kuupäevaga). Leia näitab viimast arvet.</p>
</div>