<div class="landing-overlay"></div>
<section class="landing-hero">
  <div class="o-container">
    <nav class="primary-nav">
      <a class="primary-nav__vector" href="">
        <img alt="" src="media/img/merelaager_ship_w.svg" />
      </a>
      <div class="primary-nav__content">
        <ul class="primary-nav__sec primary-nav__sec--left">
          <li class="primary-nav__item">
            <a href="info/">Info</a>
          </li>
          <li class="primary-nav__item">
            <a href="pildid/">Pildid</a>
          </li>
        </ul>
        <div class="primary-nav__logo">
          <a href=""><img
              alt="Merelaagri logo"
              src="media/img/merelaager_logo_white.svg"
            /></a>
        </div>
        <ul class="primary-nav__sec primary-nav__sec--right">
          <li class="primary-nav__item">
            <a href="info/ajalugu/">Ajalugu</a>
          </li>
          <li class="primary-nav__item">
            <a href="meeskond/">Meeskond</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="landing-hero__content">
    <h1 class="">{{header}}</h1>
    <h2 class="">- Merelaager -</h2>
    <ul class="landing-quickies">
      <li><a href="info/vahetused/#ajad">Laagrivahetuste ajad</a></li>
      <li><a href="info/maksmine/#maksumus">Hinnad ja maksmine</a></li>
    </ul>
  </div>
  <img alt="" class="landing-waves" src="media/img/sea_waves.svg" />
</section>
<section>
  <div class="c-home-block c-home-block--inverted">
    <div class="c-home-block-media">
      <img
        alt="Pilt laagriplatsist ilusa ilmaga."
        src="/media/img/laager.webp"
      />
    </div>
    <div class="c-home-block-body">
      <h3>Laoküla merelaager</h3>
      <p>
        Suurepärane võimalus 8–16aastastel merehuvilistel veeta suvi
        looduskaunis kohas mere kaldal.
      </p>
    </div>
  </div>
  <div class="c-home-block">
    <div class="c-home-block-media">
      <img
        alt="Kolm Quba-klass purjekat koos lastega."
        src="/media/img/quba.webp"
      />
    </div>
    <div class="c-home-block-body">
      <h3>Eelnev merekogemus pole oluline</h3>
      <p>
        12päevase laagrivahetuse jooksul võib selgeks saada nii purjetamise,
        sõudmise kui ka muude meresõiduvahendite kasutamise algtõed.
      </p>
    </div>
  </div>
  <div class="c-home-block c-home-block--inverted">
    <div class="c-home-block-media">
      <img
        alt="Lapsed istuvad laua ümber koos legodega."
        src="/media/img/legod.webp"
      />
    </div>
    <div class="c-home-block-body">
      <h3>Ja siis, kui merele ei saa</h3>
      <p>
        Merelaagri õhtuid ja ka tormipäevi sisustavad tavapärased laagri
        tegevused – lõkkeõhtud, diskod, matkad ja mitmesugused võistlused.
      </p>
    </div>
  </div>
  <div class="c-home-block c-home-block--center">
    <div class="c-home-block-body">
      <h3>Pole merelaagrit ilma seltskonnata</h3>
      <p class="u-mb-15">
        Ühes laagrivahetuses puhkab 40 noort ja laagrielu korraldavad viis
        vastava väljaõppe saanud kasvatajat.
      </p>
      <p class="u-mb-15">
        Laoküla merelaagrit korraldatakse 2023. aasta suvel juba 25. korda.
      </p>
    </div>
    <div class="c-home-block-media">
      <iframe
        class="video"
        src="https://www.youtube-nocookie.com/embed/Lnd8R-ObntU"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p>Filmi autor: Raiko Sagur</p>
    </div>
  </div>
</section>
<section class="cta">
  <div class="cta__block read-more">
    <div class="read-more__wrapper">
      <h3 class="c-section-heading"><a href="info/">Kiirlingid</a></h3>
      <ul class="cta__links">
        <li><a href="info/vahetused/">Vahetuste ajad</a></li>
        <li><a href="info/maksmine/">Hinnad</a></li>
      </ul>
    </div>
  </div>
  <div class="cta__block map">
    <h3 class="c-section-heading t-white">
      <a href="info/laagrist/#asukoht">Asukoht</a>
    </h3>
  </div>
</section>