<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Kategooriad</h3>
        <ul class="o-grid u-list-blank u-text-center">
            <li class="c-link-card">
                <a href="vahetused/">Vahetused ja broneerimine</a>
            </li>
            <li class="c-link-card"><a href="maksmine/">Hinnad ja maksmine</a></li>
            <li class="c-link-card"><a href="laagrist/">Elu laagris</a></li>
            <li class="c-link-card"><a href="kkk/">Korduma kippuvad küsimused</a></li>
        </ul>
    </div>
</section>
<h3 class="c-section-heading">Ülevaade</h3>
<section>
    <div class="o-container">
        <div class="c-sectional">
            <h4 class="c-sectional__header"><a href="vahetused/">Vahetused ja broneerimine</a></h4>
            <div class="c-sectional__content">
                <p>
                    Suve jooksul toimub 4 erinevat laagri&shy;vahetust, igaüks erineva ilma, tegevus&shy;kava ja
                    seltskonnaga. Üks täispikk vahetus kestab 12 päeva ja lühike vahetus 8 päeva. Enamasti tahavad
                    lapsed tagasi tulla juba tuttavasse vahetusse, ent alati on ka neid, kes soovivad erinevad
                    vahetused läbi proovida, sest sõpru leiab alati.
                </p>
            </div>
            <div class="c-sectional__links">
                <h5>Viited</h5>
                <ul class="u-visible-links c-wave-list">
                    <li><a href="vahetused#ajad">Laagrivahetuste ajad</a></li>
                    <li><a href="vahetused#broneerimine">Broneerimine</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="o-container">
        <div class="c-sectional">
            <h4 class="c-sectional__header"><a href="maksmine/">Hinnad ja maksmine</a></h4>
            <div class="c-sectional__content">
                <p>
                    Toetades meid, toetate ka Neptunit. Neptun kaitseb teie varandust – lapsi ja nende head tuju – nii
                    maal kui ka merel. Kes teab, võib-olla ilmutab ta end isegi lastele.
                </p>
            </div>
            <div class="c-sectional__links">
                <h5>Viited</h5>
                <ul class="u-visible-links c-wave-list">
                    <li><a href="maksmine#maksumus">Laagrikoha maskumus</a></li>
                    <li><a href="maksmine#makseinfo">Makseinfo</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="o-container">
        <div class="c-sectional">
            <h4 class="c-sectional__header"><a href="laagrist/">Elu laagris</a></h4>
            <div class="c-sectional__content">
                <p>
                    Kui lapsed on laagris, hoolitsevad nende hea tuju eest nii nemad ise kui ka kasvatajad, ent on asju
                    mida nii lapsed kui ka vanemad võiksid eelnevalt teada. Nii saate tagada selle, et laps millestki
                    laagris puudust ei tunneks, ja kurssi viia nii ennast kui ka lapsi sellega, mis neid ees ootab.
                </p>
            </div>
            <div class="c-sectional__links">
                <h5>Viited</h5>
                <ul class="u-visible-links c-wave-list">
                    <li><a href="laagrist#asukoht">Asukoht ja kogunemine</a></li>
                    <li><a href="laagrist#laagrisse-kaasa">Laagrisse kaasa</a></li>
                    <li><a href="laagrist#kava">Päevakava</a></li>
                    <li><a href="laagrist#kodukord">Kodukord</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="o-container">
        <div class="c-sectional">
            <h4 class="c-sectional__header"><a href="kkk/">Korduma kippuvad küsimused</a></h4>
            <div class="c-sectional__content">
                <p>
                    Merelaager on igatepidi eriline ning ega meil ei olegi võimalik täit ülevaadet teile anda sellest,
                    kuidas me laagrit korraldame, selle tagasiside annavad teile loodetavasti lapsed :). Oleme seega
                    välja toonud vastused kõige olulisematele küsimustele, mis vanematel tihti tekivad.<br><br>
                    Kui te oma küsimustele kusagilt vastust ei leia, siis kirjutage meile:
                    <a href="mailto:info@merelaager.ee" class="t-visible">info@merelaager.ee</a>.
                </p>
            </div>
            <div class="c-sectional__links">
                <h5>Viited</h5>
                <ul class="u-visible-links c-wave-list">
                    <li><a href="kkk#turvalisus">Turvalisus merel</a></li>
                    <li><a href="kkk#toitlustamine">Toitlustamine</a></li>
                    <li><a href="kkk#tervis">Terviserike või õnnetusjuhtum</a></li>
                    <li><a href="kkk#ujumisoskus">Ujumisoskus</a></li>
                    <li><a href="kkk#purjetamisoskus">Purjetamisoskus</a></li>
                    <li><a href="kkk#osalustasu">Osalemistasu tagasimaksmine</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
