<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Kategooriad</h3>
        <ul class="o-grid u-list-blank u-text-center">
            <li class="c-link-card">
                <a href="vahetused/">Vahetused ja broneerimine</a>
            </li>
            <li class="c-link-card"><a href="maksmine/">Hinnad ja maksmine</a></li>
            <li class="c-link-card"><a href="laagrist/">Elu laagris</a></li>
            <li class="c-link-card"><a href="kkk/">Korduma kippuvad küsimused</a></li>
        </ul>
    </div>
</section>
<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Meelespea</h3>
        <ul>
            <li>
                Broneerimine
                <ul>
                    <li>Info peatselt</li>
                </ul>
            </li>
            <li>
                Laagrisse kaasa
                <ul>
                    <li>Vihmariided</li>
                    <li>Veejalanõud</li>
                </ul>
            </li>
        </ul>
    </div>
</section>