<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Turvalisus merel</h3>
        <p>
            Turvalisusele merel pööratakse laagris väga suurt tähelepanu. Kohe
            laagrivahetuse algul tehakse noortele selgeks merereeglid ja nendest
            kinnipidamist jälgitakse erilise tähelepanuga. Laste turvalisust
            merel jälgitakse merel viibimise ajal nii merelt kui maalt. Kõik
            laagrikasvatajad on saanud vastava väljaõppe.
        </p>
    </div>
</section>
<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Toitlustamine</h3>
        <p>
            Laagris toitlustatakse kolm korda päevas: hommikuks reeglina puder
            ja võileib; lõunaks supp, praad ja magustoit; õhtuks praad. Joogiks
            sõltuvalt toidust morss, tee, piim või keefir. Joogivesi on saadaval
            kogu aeg. Laagrit toitlustab MR Grill OÜ (Paldiski lõunasadamas
            asuva söögikoha ametlik toitlustaja).
        </p>
    </div>
</section>
<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Terviserike või õnnetusjuhtum</h3>
        <p>
            Esmaabi tagame laagris kohapeal (kõik täiskasvanud on saanud vastava
            väljaõppe) ja kui vaja, toimetatakse laps Tallinnasse EMOsse. Sel
            juhul võetakse kindlasti ka laagrikasvandiku kontaktisikuga
            ühendust. Laagrikasvandiku erivajadustest palume kindlasti
            informeerida laagrijuhatajat ja vajalikud ravimid peavad olema
            kindlasti endal kaasas.
        </p>
    </div>
</section>
<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Ujumisoskus</h3>
        <p>
            Ujumisoskus on soovituslik (vähemalt 50 meetrit). Alati on võimalus
            ujuda päästevestiga.
        </p>
    </div>
</section>
<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Purjetamisoskus</h3>
        <p>
            Purjetamisoskus ei ole oluline. Kui kasvandikul jagub huvi ja soovi,
            saab kõikide laagris olevate meresõiduvahendite kasutamise selgeks
            laagrivahetuse jooksul.
        </p>
    </div>
</section>
<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Osalemistasu tagasimaksmine</h3>
        <p>
            Kui laps lahkub laagrist enne vahetuse lõppu laagrist
            mitteolenevatel põhjustel, me osalemistasu tagasi ei maksa, sest
            oleme lapse osalemisega arvestanud.
        </p>
    </div>
</section>