<section class="location" id="asukoht">
    <div class="o-container">
        <h3 class="c-section-heading">Laagri asukoht ja kogunemine</h3>
        <p>Laager asub Harju maakonnas Lääne-Harju vallas Laoküla külas.</p>
        <p>
            Laagrisse saab tulla ühiskogunemisel rongiga või ise autoga kohale
            tulla.
        </p>
        <br>
        <p>
            <b>Juhised rongiga tulijale:</b> Kogunemine toimub ---
            Balti jaamas Paldiski rongi perroonil ---. Rong väljub ---.
        </p>
        <p>
            Piletiraha peab lapsel kaasas olema. Balti jaamas võtab lapsed vastu
            laagri kasvataja. Elroni piletiinfo leiate
            <a class="t-visible" href="https://www.elron.ee/piletiinfo/piletid" target="_blank">siit</a>.
        </p>
        <!--p>
            Lapsele laagriasjade pakkimisel palume arvestada, et võib toimuda
            ümberistumine asendus bussi – see tähendab, et asjad oleksid pakitud
            võimalikult kompaktselt, et mõni lisa kott ei ununeks rongi ega
            bussi 🙂.
        </p-->
        <br>
        <p>
            <b>Juhised autoga tulijale:</b> Sõitke Paldiski poole. Lõunasadama
            ristmikult (Alexela bensiinijaama juurest) keerake vasakule.
            Järgmiselt ristmikult jälle vasakule Madise poole. Peatselt näete tee
            ääres Laoküla silti ja siis kohe merelaagri viita. Meieni viib tee läbi
            rannakarjamaa, kust on meid juba mere ääres näha.
        </p>
        <br>
        <p>Kui tee peal hätta jääte, helistage meile!</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54753.2513076819!2d24.07959290554487!3d59.33662882458193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692a67d0aedaf5b%3A0x98e42c9d1a0c68!2sMere%20laste%20suvelaager!5e0!3m2!1sen!2sus!4v1606061390008!5m2!1sen!2sus"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
    </div>
</section>
<section class="laagrisse">
    <div class="o-container">
        <h3 class="c-section-heading">Laagrisse kaasa</h3>
        <ul>
            <li>Magamiskott ja padjapüür</li>
            <li>Hügieenitarbed, saunalina ja rätik</li>
            <li>Isiklik nimeline korduvkasutatav veepudel</li>
            <li>Vihmakindlad riided ja jalanõud</li>
            <li>
                Ujumisriided ja jalanõud vees käimiseks kivisel põhjal
                (rannasussid)
            </li>
            <li>Peakate</li>
            <li>Soe kampsun ja villased sokid</li>
            <li>Sportlikud riided ja jalanõud</li>
            <li>Taskulamp ja varupatareid</li>
            <li>Päikesekaitsevahendid</li>
            <li>Hea tuju!!!</li>
        </ul>
        <br/>
        <p>
            Riideid valides arvestage Eestimaa merelise kliimaga, kus esineb nii
            päikest kui äikest!
        </p>
    </div>
</section>
<section class="kava">
    <div class="o-container">
        <h3 class="c-section-heading">Päevakava</h3>
        <p>
            8.30 – laagri äratus<br/>
            8.45 – rivistus ja lipu heiskamine<br/>
            8.50 – hommikujooks ja -võimlemine<br/>
            9.30 – hommikusöök<br/>
            9.30 – koristamine, toimkond, valmistumine merele minekuks<br/>
            10.00 – tegevus maal või merel<br/>
            13.00 – valmistumine lõunasöögiks<br/>
            13.30 – lõunasöök<br/>
            Admirali tund<br/>
            14.45 – valmistumine merele minekuks<br/>
            15.00 – tegevus maal või merel<br/>
            18.00 – merelise tegevuse lõpetamine<br/>
            19.00 – õhtusöök<br/>
            19.30 – lõkkeõhtu, mängud, viktoriinid, võistlused, disko<br/>
            22.30 – rivistus, lipu langetamine (sõltuvalt päikeseloojangust)<br/>
            pesemine, valmistumine magama minekuks<br/>
            23.00 – öörahu<br/><br/>
            Päevakava võib muutuda ilma või muude asjaolude tõttu.
        </p>
    </div>
</section>
<section class="kodukord" id="kodukord">
    <div class="o-container">
        <h3 class="c-section-heading">Kodukord</h3>
        <ul>
            <li>
                Laagris on keelatud kiusamine ja muu vägivald ning varastamine
            </li>
            <li>
                Laager ei vastuta kaasa võetud elektrooniliste vidinate ja
                väärisesemete eest
            </li>
            <li>Telefone palume laagrisse mitte kaasa võtta</li>
            <li>
                Laagris viibijad on kohustatud täitma laagri kodukorda,
                päevakorda, juhataja ja kasvatajate korraldusi
            </li>
            <li>
                Laagri territooriumilt lahkumine on lubatud ainult laagri juhataja
                loal
            </li>
            <li>
                Kui lapsel on terviseprobleeme, tuleb sellest juhatajale
                kirjalikult teada anda
            </li>
            <li>
                Kui laps tekitab tahtlikku materiaalset kahju, korvab selle lapse vanem
                või hooldaja
            </li>
            <li>
                Kui laps rikub laagri kodukorda, võtame ühendust lapse vanema või
                hooldajaga ning vajadusel saadame noore enne laagriaja lõppu koju.
                Sellisel juhul me laagritasu ei hüvita.
            </li>
            <li>
                Kui laps loobub laagrikohast vähem kui kuu aega enne vahetuse
                algust, me broneerimistasu tagasi ei maksa.
            </li>
            <li>
                Kui laps lahkub laagrist enne vahetuse lõppu laagrist
                mitteolenevatel põhjustel, me osalemistasu tagasi ei maksa, sest
                oleme lapse osalemisega arvestanud.
            </li>
            <li>
                Olen teadlik, et lapsi pildistatakse laagris ja pilte võidakse
                avaldada meedias, kodulehel ja sotsiaalmeedias
            </li>
            <li>
                Kui meil on alust kahtlustada, et lapse käes on keelatud aineid või
                esemeid, on kasvatajatel õigus lapse isiklikud asjad läbi vaadata
            </li>
        </ul>
        <br/>
        <h4>Laagrisse on keelatud kaasa võtta:</h4>
        <ul>
            <li>alkohoolseid jooke ja tubakatooteid,</li>
            <li>narkootilisi- ja toksilisi aineid,</li>
            <li>pürotehnilisi ja tuleohtlikke aineid ja vahendeid, relvi,</li>
            <li>ravimeid (v.a retseptiravimid, mis on kantud tervisetõendile).</li>
        </ul>
        <br/>
        <p>
            Hoiule võetud keelatud ained ja asjad (v.a narkootilised ained) anname
            laagri lõpus lapsevanemale.<br/>Alkojoobe tuvastame alkomeetriga kahe
            kasvataja juuresolekul.<br/>Kui meil on alust kahtlustada, et laps kasutab
            laagrivahetuse ajal keelatud aineid, anname sellest vanematele teada.
            Vajadusel teavitame politseid.<br/>Kui laps rikub kodukorda, on juhatajal
            õigus laps laagrist ära saata. Sellisel juhul on lapse vanemal või hooldajal
            kohustus lapsele järele tulla.
        </p>
    </div>
</section>