<h3 class="c-section-heading u-mt-1em">Lastenurk</h3>
<section>
  <div class="o-container">
    <div class="c-sectional">
      <h4 class="c-sectional__header"><a href="edetabelid/">Edetabelid</a></h4>
      <div class="c-sectional__content">
        <p>
          Merelaagri teemalisi pilte ja joonistusi, mis lapsed on aastate
          jooksul joonistanud, nii laaagris kui ka kodus.

        </p>
      </div>
      <div class="c-sectional__links">
        <h5>Viited</h5>
        <ul class="u-visible-links c-wave-list">
          <!--                    <li><a href="vahetused#ajad">Laagrivahetuste ajad</a></li>-->
          <!--                    <li><a href="vahetused#broneerimine">Broneerimine</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="o-container">
    <div class="c-sectional">
      <h4 class="c-sectional__header"><a href="vahetused/">Pildid ja joonistused</a></h4>
      <div class="c-sectional__content">
        <p>
          Merelaagri teemalisi pilte ja joonistusi, mis lapsed on aastate
          jooksul joonistanud, nii laaagris kui ka kodus.

        </p>
      </div>
      <div class="c-sectional__links">
        <h5>Viited</h5>
        <ul class="u-visible-links c-wave-list">
          <!--                    <li><a href="vahetused#ajad">Laagrivahetuste ajad</a></li>-->
          <!--                    <li><a href="vahetused#broneerimine">Broneerimine</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="o-container">
    <div class="c-sectional">
      <h4 class="c-sectional__header"><a href="maksmine/">Luuletused ja laulud</a></h4>
      <div class="c-sectional__content">
        <p>

        </p>
      </div>
      <div class="c-sectional__links">
        <h5>Viited</h5>
        <ul class="u-visible-links c-wave-list">
          <!--                    <li><a href="maksmine#maksumus">Laagrikoha maksumus</a></li>-->
          <!--                    <li><a href="maksmine#makseinfo">Makseinfo</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</section>