<div class="c-login-wrapper">
    <h3>Kambüüs</h3>
    <form method="post" action="login/">
        <label for="name">Nimi</label>
        <input type="text" id="name" name="name" required>
        <label for="password">Salsõna</label>
        <input type="password" id="password" name="password" required>
        <button class="c-btn">Sisene</button>
    </form>
</div>