<section class="payment-info">
    <div class="o-container">
        <h3 class="section-title">Laagrikoha maksumus</h3>
        <div class="payment-info__container">
            <div class="info-block">
                <h4 class="info-block__title">9päevane vahetus</h4>
                <ul class="info-block__content">
                    <li>uuele tulijale: --- €</li>
                    <li>vanale olijale: --- €</li>
                </ul>
            </div>
            <div class="info-block">
                <h4 class="info-block__title">12päevane vahetus</h4>
                <ul class="info-block__content">
                    <li>uuele tulijale: --- €</li>
                    <li>vanale olijale: --- €</li>
                </ul>
            </div>
            <div class="info-block">
                <h4 class="info-block__title">Broneerimistasu</h4>
                <ul class="info-block__content">
                    <li>uuele tulijale: 50 €</li>
                    <li>vanale olijale: 40 €</li>
                </ul>
            </div>
        </div>
        <div class="u-banner u-banner--info">
            <p>
                <strong
                >Laagrikoha broneerimise tasu kuulub hinna sisse. Ülejäänud osa
                    peab olema tasutud üks kuu enne laagrivahetuse algust!</strong
                >
                Vastasel juhul anname koha järgmisele soovijale. Laagrikohast
                loobumisel tagastame broneerimistasu vaid siis, kui leiame
                asendusliikme.
            </p>
        </div>
    </div>
</section>
<section class="emsa-info">
    <div class="o-container">
        <h3 class="section-title">EMSA liikmetele</h3>
        <ul>
            <li>
                Erinevalt eelmistest aastatest tuleb EMSA lapse vanemal tasuda
                hiljemalt 4 nädalat enne lapse laagrivahetuse algust 100eurone
                garantiitasu. Kui EMSA on lapse eest kogu arve tasunud (vahetult
                peale laagrivahetuse algust), tagastame garantiitasu.
            </li>
            <li>
                Kui laps ei ilmu ilma mõjuva põhjuseta (arstitõendiga tõendatud
                haigestumine) laagrisse ja/või merelaagri ametlikku kontakti ei
                ole sellest õigeaegselt teavitatud, me 100eurost ettemaksu ja koha
                broneerimise tasu ei tagasta.
            </li>
        </ul>
        <strong
        >EMSA liikmetele: kui taotlete laagritoetust EMSA-lt, palume meid
            sellest kindlasti teavitada.</strong
        >
    </div>
</section>
<section class="payment-info" id="makseinfo">
    <div class="o-container">
        <h3 class="section-title">Makseinfo</h3>
        <p>
            MTÜ Noorte Mereklubi (Reg. Nr. 80067875)<br/>
            Konto: EE862200221011493003<br/>
            SWIFT kood/BIC:HABAEE2X<br/>
            SWEDBANK
        </p>
        <strong>Kindlasti märkige selgitusse lapse nimi ja vahetus!</strong>
    </div>
</section>