<section class="payment-info" id="maksumus">
  <div class="o-container">
    <h3 class="c-section-heading">Laagrikoha maksumus</h3>
    <div class="payment-info__container">
      <!--div class="info-block">
        <h4 class="info-block__title">6päevane vahetus</h4>
        <ul class="info-block__content">
          <li>uuele tulijale: 200 €</li>
          <li>vanale olijale: 180 €</li>
        </ul>
      </div>
      <div class="info-block">
        <h4 class="info-block__title">8päevane vahetus</h4>
        <ul class="info-block__content">
          <li>uuele tulijale: 240 €</li>
          <li>vanale olijale: 220 €</li>
        </ul>
      </div-->
      <div class="info-block">
        <h4 class="info-block__title">12päevane vahetus</h4>
        <ul class="info-block__content">
          <li>uuele tulijale: 320 €</li>
          <li>vanale olijale: 300 €</li>
        </ul>
      </div>
      <div class="info-block">
        <h4 class="info-block__title">Broneerimistasu</h4>
        <ul class="info-block__content">
          <li>Kõigile 100 €</li>
        </ul>
      </div>
    </div>
    <div class="u-banner u-banner--info">
      <p>
        <strong>Laagrikoha broneerimise tasu kuulub hinna sisse. Ülejäänud osa
          peab olema tasutud üks kuu enne laagrivahetuse algust!</strong>
        Vastasel juhul anname koha järgmisele soovijale. Laagrikohast loobumisel
        tagastame broneerimistasu vaid siis, kui leiame asendusliikme.
      </p>
    </div>
  </div>
</section>
<section class="payment-info" id="makseinfo">
  <div class="o-container">
    <h3 class="c-section-heading">Makseinfo</h3>
    <p>
      MTÜ Noorte Mereklubi (Reg. Nr. 80067875)<br />
      Konto: EE862200221011493003<br />
      SWIFT kood/BIC:HABAEE2X<br />
      SWEDBANK
    </p>
    <strong>Kindlasti märkige selgitusse lapse nimi ja vahetus!</strong>
  </div>
</section>