<section class="crewmate">
    <div class="o-container">
        <h3 class="section-title">Ahto</h3>
        <p>
            Ahto elu ja töö ongi merelaager ja muidugi ka veemoto. Ametilt on ta
            koolitatud meremees – laevamehaanik. Võib öelda, et ilmselt nakatus
            ta merepisikuga juba lapsena Noorte Meremeeste Klubis ja Simiste
            merelaagris käies. Tema käte, mõtete ja ideede abil on laagris
            valminud kõik, mis silmaga näha. Noortega on ta töötanud viimased
            paarkümmend aastat – nii laagris kui ka Eesti veemoto järelkasvu
            treenides.
        </p>
        <p>
            2014. aastal pälvis Ahto tubli töö eest veemoto noortetreenerina
            riikliku spordipreemia.<br/>2015. aasta veebruaris pälvis ta
            elupäästja III klassi medali.<br/>Aasta mereharija 2019.
        </p>
    </div>
</section>
<section class="crewmate">
    <div class="o-container">
        <h3 class="section-title">Leho</h3>
        <p>
            Leho on noorsootöötaja suure tähega. Selleks on ta ka õppinud.
            Merelaagri meeskonda sulandus ta juba üle kümne aasta tagasi, on
            korralikult ära õppinud kõik olulised meretarkused ja oskab neid
            suurepäraselt noortele edasi anda. Igapäevaselt rakendab ta oma
            oskusi noortega töötamisel Kaitseliidus.
        </p>
        <p>2010. aastal nimetati Leho Järvamaa parimaks noorsootöötajaks.</p>
    </div>
</section>
<section class="crewmate">
    <div class="o-container">
        <h3 class="section-title">Kati</h3>
        <p>
            Kati elu märksõnadeks on meri ja lapsed. Ka tema kutsumus on alguse
            saanud Noorte Meremeeste Klubist, kus ta oli lapsena kasvandik ja
            hiljem tööl erinevatel ametikohtadel... ikka õpetades. Esmased
            kogemused merelaagri kasvatajana sai ta juba Simiste laagrist. Kui
            ta just laagris ei ole, õpetab ta järelkasvu lasteaias. Tema õpitud
            erialad ongi koolieelne pedagoogika ja noorsootöö.
        </p>
        <p>Aasta mereharija 2012.</p>
    </div>
</section>
<section class="crewmate">
    <div class="o-container">
        <h3 class="section-title">Tiia</h3>
        <p>
            Tiia on merelaagri meeskonna pesamuna. Tema on saanud tuule
            tiibadesse Laoküla merelaagrist. Algul oli ta siin kasvandik, siis
            kasvataja ja nüüd juhatab juba mitmendat aastat oma vahetust. Kuna
            igasugune organiseerimine tuleb tal väga hästi välja, siis tema
            erialaks on vaba aja ja puhketegevuse korraldus
            (rekreatsioonikorraldus). Lisaks lööb ta aktiivselt kaasa veemoto
            suurvõistluste korraldamisel.
        </p>
    </div>
</section>