<div class="o-container">
  <p>Hetki laagrielust.</p>
  <div class="o-masonry">
    {{#each imageList}}
      <img src="{{this.src}}"/>
    {{/each}}
  </div>
  <div class="u-banner u-banner--info">
    <p>
      Kui otsite kindla aasta/vahetuse pilte, saatke oma küsimus julgelt
      aadressile
      <a href="mailto:taaniel@ignoreme-merelaager.ee" class="obf-mail">taaniel@<span
        style="display:none;">ignoreme-</span>merelaager.ee</a>.
      <script>
        const mail = [...document.getElementsByClassName("obf-mail")][0];
        mail.href = mail.href.replace("ignoreme-", "");
      </script>
    </p>
  </div>
  <!--
                      <div class="u-banner u-banner--warning">
                        <p>
                          Pilte ei saa hetkel näha, sest töötame uue süsteemi kallal, et kõikide
                          vahetuste ning ka iidamast-aadamast pildid oleksid hõlpsasti
                          kättesaadavad.
                        </p>
                      </div>
                      <div class="picbox">
                        <a class="picbox__sec" href=""><h3 class="section-title t-white">2021<br
                            />Pildid</h3></a>
                        <a class="picbox__sec" href=""><h3 class="section-title t-white">2020<br
                            />Pildid</h3></a>
                        <a class="picbox__sec" href=""><h3 class="section-title t-white">2019<br
                            />Pildid</h3></a>
                        <a class="picbox__sec" href=""><h3 class="section-title t-white">2018<br
                            />Pildid</h3></a>
                        <a class="picbox__sec" href=""><h3 class="section-title t-white">2017<br
                            />Pildid</h3></a>
                        <a class="picbox__sec" href=""><h3 class="section-title t-white">2016<br
                            />Pildid</h3></a>
                        <a class="picbox__sec" href=""><h3 class="section-title t-white">2015<br
                            />Pildid</h3></a>
                        <a class="picbox__sec" href=""><h3 class="section-title t-white">2014<br
                            />Pildid</h3></a>
                        <a class="picbox__sec" href=""><h3 class="section-title t-white">2013...<br
                            />Pildid</h3></a>
                      </div>
                      -->
</div>