<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Isikuandmete töötlemine</h3>
        <p class="u-text-center">Nii elektrooniliste kui ka füüsiliste.</p>
        <p>Viimati muudetud: 5. detsember 2020</p>
        <h4>Mida me peame <q>isikuandmeteks</q>?</h4>
        <p>Meie jaoks on <q>isikuandmed</q> teave (nt nimi või isikukood), mille abil tuvastame isiku (nt lapsevanema
            või laagrilapse).</p>
        <p>Kogu teave, mida isikuandmed ei hõlma, on <q>isikuga mitteseotud andmed</q>.</p>
        <p>Kui talletame teie isikuandmeid koos andmetega, mis ei ole isikuandmed, käsitleme seda andmekombinatsiooni
            isikuandmetena. Kui eemaldame andmekogumist isikuandmed, ei pruugi me eemaldada isikuga mitteseotud
            andmete osa.</p>
        <h4>Mida teeme teie andmetega?</h4>
        <p>Kui edastate meile oma andmed, kasutame neid vaid viisidel, mille jaoks olete meile loa andnud. Peamised
            otstarbed on laagrilastest ja nende kontaktisikutest ülevaate saamine ning noorsootöö ja laagri seadusega
            kooskõlas olemine.</p>
        <p>Andmed, mida vajame statistikaks (nt vanused või päritolu maakonnad), anonüümistame enne kasutamist.</p>
        <h4>Millal jagame teie andmeid teistega?</h4>
        <p>Teie usaldus on meie jaoks tähtis, seega jagame teie andmeid vaid järgnevatel põhjustel:</p>
        <ul>
            <li>Jagame organisatsiooni siseselt andmeid, ning sel juhul vaid neid, mis on vajalikud (nt juhatajad
                omavahel või noorsootöö asutustele aruandmete kirjutamisel).
            </li>
            <li>Jagame andmeid, kui seadused seda kohustavad. Kui saame mõnelt riigiasutuselt teiega seotud päringu või
                kui päring on seotud kohtuprotsessiga, järgime alati seadusi. Sellistel juhtudel anname sellest teile
                või lapse kontaktisikule teada, kui see pole seadusega keelatud.
            </li>
            <li>Jagame andmeid, kui usume, et seda on vaja teie või kellegi teise kahjustamise vältimiseks (nt
                meditsiinilise erikorra puhul). Neil puhkudel anname sellest kas teile või lapse kontaktisikule teada.
            </li>
        </ul>
        <h4>Kuidas talletame ning kaitseme teie isikuandmeid?</h4>
        <p>Meie jaoks on väga oluline teilt saadud isikuandmete kaitsmine ning rakendame selle tagamiseks nii
            orgatsioonilisi kui ka tehnilisi turbemeetmeid. Lähtume teadmisvajaduse põhimõttest. Teisisõnu pääsevad teie
            andmetele ligi vaid need, kellel on andmete vajamiseks mõjuv põhjus (nt vahetuse juhataja) ning teevad seda
            vaid otstarbe alusel.</p>
        <p>Kui vaatamata meie pingutustele ilmneb mõni turbemeetme rikkumine, anname teile sellest teada ning teeme kõik
            endast oleneva, et olukord kindlustada.</p>
        <p>Me ei soovi hoida teie isikuandmeid kauem, kui meil neid vaja on, seega säilitame neid vaid senikaua, kuni
            oleme
            täitnud eesmärgi, mille jaoks neid andmeid kogusime. Kui meil pole teie andmeid enam tarvis, siis eemaldame
            need laagri andmekogumist.</p>
        <div class="u-banner u-banner--info">
            Osasid andmeid, näiteks lapse nimi ja arv aastaid, mil laps on käinud merelaagris, talletame laagrisisesteks
            arhiivideks.
        </div>
    </div>
</section>
