<p>L채htesta salas천na</p>
<form action="/api/su/reset" method="post">
  <label for="password">Uus salas천na</label>
  <input id="password" type="password" required name="password"/>
  <br/>
  <label for="re-password">Salas천na uuesti</label>
  <input id="re-password" type="password" required name="re-password"/>
  <br/>
  <label for="token">Token</label>
  <input id="token" type="text" required name="token"/>
  <button id="submit">Loo</button>
  <p id="msg"></p>
</form>