<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Viited</h3>
        <ul class="o-grid u-list-blank u-text-center">
            <li class="c-link-card">
                <a href="/info/vahetused/">Vahetused ja broneerimine</a>
            </li>
            <li class="c-link-card">
                <a href="/info/maksmine/">Hinnad ja maksmine</a>
            </li>
        </ul>
    </div>
</section>
<section class="registration">
    <div class="o-container">
        <h3 class="c-section-heading">Registreerimine</h3>
        <div class="u-banner u-banner--info">
            <p>Registreerimine algab 1. jaanuaril 2021 kell 14.00 ja lõpeb siis, kui kõik kohad on täis. E-posti teel me
                enam registreerimistaotlusi vastu ei võta.</p>
        </div>
        <div class="u-banner u-banner--info">
            <p><b>NB!</b> 27.12 kell 12.00-14.00 testime süsteemi ja siis on võimalik registreerida kolmandasse
                vahetusse. Kui teil esineb tõrkeid, andke sellest palun kindlasti teada: +352 621 409 023 / <a
                        href="mailto:webmaster@merelaager.ee">webmaster@merelaager.ee</a></p>
        </div>
        <form class="registration-form" action="/registreerimine/register/" method="post" id="regform">
            <b class="u-italic u-regular"><span class="u-required"></span> Tärniga märgitud väljad on kohustuslikud.</b>
            <h4>Laagrilaps</h4>
            {{>registrationFormChild}}
            <div class="registration-form__unit registration-form__unit--mt0">
                <a id="addChild">
                    <div class="contents">
                        <p>Lisa laps</p>
                        <div class="u-plus"></div>
                    </div>
                </a>
            </div>
            <h4>Kontaktisik</h4>
            <div class="registration-form__unit">
                <div class="registration-form__row">
                    <div class="registration-form__field">
                        <label for="guardian_name" class="u-required">Nimi</label>
                        <input type="text" name="guardian_name" id="guardian_name" required>
                    </div>
                    <div class="registration-form__field">
                        <label for="guardian_phone" class="u-required">Telefon</label>
                        <input type="tel" name="guardian_phone" id="guardian_phone" required>
                    </div>
                    <div class="registration-form__field">
                        <label for="guardian_email" class="u-required">E-post</label>
                        <input type="email" name="guardian_email" id="guardian_email" required>
                    </div>
                </div>
                <div class="registration-form__row">
                    <div class="registration-form__field">
                        <label for="alt_phone">Varutelefon</label>
                        <input type="tel" name="alt_phone" id="alt_phone">
                    </div>
                    <div class="registration-form__field registration-form__field--row">
                        <label for="disclaimer" class="u-required">Nõustun laagri
                            <a href="/info/laagrist/#kodukord" class="t-visible">kodukorraga</a>.</label>
                        <input type="checkbox" id="disclaimer" required>
                    </div>
                </div>
            </div>
            <div id="emsa-notice" class="u-banner u-banner--info is-hidden">
                <p>Palun andke ka EMSA-le teada, et registreerite lapse(d) merelaagrisse.</p>
            </div>
            <input type="number" name="childCount" value="1" id="childCount" hidden readonly required>
            <button name="submit" value="submit" class="c-btn" disabled>Registreerin</button>
            <p class="u-inline-block">Broneerimistasu: <span id="pre-total">50</span> €
                | Kogusumma: <span id="payment-total">---</span> €</p>
        </form>
    </div>
</section>