<section class="registration">
    <div class="o-container">
        <h3 class="section-title">Registreerimine</h3>
        <div class="u-banner u-banner--info">
            <p>Me avame registreerimise 1. jaanuaril 2021 kell 12:00 ja sulgeme selle siis, kui kõik kohad (poiste ja
                tüdrukute) on täis.
                Me ei võta enam vastu registreerimistaotlusi e-posti teel.</p>
        </div>
        <form class="registration-form" action="/registreerimine/register/" method="post">
            <h4>Laagrilaps</h4>
            {{>registrationFormChild}}
            <div class="registration-form__unit registration-form__unit--mt0">
                <a id="addChild">
                    <div class="contents">
                        <p>Lisa laps</p>
                        <div class="u-plus"></div>
                    </div>
                </a>
            </div>
            <h4>Kontaktisik</h4>
            <div class="registration-form__unit">
                <div class="registration-form__row">
                    <div class="registration-form__field">
                        <label for="guardian_name">Nimi</label>
                        <input type="text" name="guardian_name" id="guardian_name" required>
                    </div>
                    <div class="registration-form__field">
                        <label for="guardian_phone">Telefon</label>
                        <input type="tel" name="guardian_phone" id="guardian_phone" required>
                    </div>
                    <div class="registration-form__field">
                        <label for="guardian_email">Email</label>
                        <input type="email" name="guardian_email" id="guardian_email" required>
                    </div>
                </div>
                <div class="registration-form__row">
                    <div class="registration-form__field">
                        <label for="alt_phone">Varutelefon</label>
                        <input type="tel" name="alt_phone" id="alt_phone">
                    </div>
                    <div class="registration-form__field">
                        <label for="disclaimer">Nõustun laagri
                            <a href="/info/laagrist/#kodukord" class="t-visible">kodukorraga</a>.</label>
                        <input type="checkbox" id="disclaimer" required>
                    </div>
                </div>
            </div>
            <input type="number" name="childCount" value="1" id="childCount" hidden readonly required>
            <button name="submit" value="submit" class="c-btn">Registreeri</button>
        </form>
    </div>
</section>