<section class="">
  <div class="o-container">
    <h3 class="c-section-heading">Viited</h3>
    <ul class="o-grid u-list-blank u-text-center">
      <li class="c-link-card">
        <a href="/info/vahetused/">Vahetused ja broneerimine</a>
      </li>
      <li class="c-link-card">
        <a href="/info/maksmine/">Hinnad ja maksmine</a>
      </li>
    </ul>
  </div>
</section>
<section class="">
  <div class="o-container">
    <h3 class="c-section-heading">Vabad kohad</h3>
    <div class="vahetused-wrapper">
      <div class="vahetuste-kohad">
        <h4 class="u-text-center">1. vahetus</h4>
        <p>Poisid:</p>
        <p>Tüdrukud:</p>
        <div class="vahetused-info u-text-center">
          <p><a href="mailto:sanna@merelaager.ee">sanna@merelaager.ee</a></p>
          <p>+372 5622 6906</p>
        </div>
      </div>
      <div class="vahetuste-kohad">
        <h4 class="u-text-center">2. vahetus</h4>
        <p>Poisid:</p>
        <p>Tüdrukud:</p>
        <div class="vahetused-info u-text-center">
          <p><a href="mailto:markus@merelaager.ee">markus@merelaager.ee</a></p>
          <p>+372 5694 0815</p>
        </div>
      </div>
      <div class="vahetuste-kohad">
        <h4 class="u-text-center">3. vahetus</h4>
        <p>Poisid:</p>
        <p>Tüdrukud:</p>
        <div class="vahetused-info u-text-center">
          <p><a href="mailto:tiia@merelaager.ee">tiia@merelaager.ee</a></p>
          <p>+372 5648 0171</p>
        </div>
      </div>
      <div class="vahetuste-kohad">
        <h4 class="u-text-center">4. vahetus</h4>
        <p>Poisid:</p>
        <p>Tüdrukud:</p>
        <div class="vahetused-info u-text-center">
          <p><a href="mailto:maria@merelaager.ee">maria@merelaager.ee</a></p>
          <p>+372 5665 8969</p>
        </div>
      </div>
      <div class="vahetuste-kohad">
        <h4 class="u-text-center">5. vahetus</h4>
        <p>Poisid:</p>
        <p>Tüdrukud:</p>
        <div class="vahetused-info u-text-center">
          <p><a href="mailto:leho@merelaager.ee">leho@merelaager.ee</a></p>
          <p>+372 518 6648</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="registration">
  <div class="o-container">
    <h3 class="c-section-heading">Registreerimine</h3>
    <div class="u-banner u-banner--info">
      <p>Vabade kohtade puudumisel saate registreeruda reservnimekirja selle
        sama vormi abil.</p>
    </div>
    <form
        class="registration-form"
        action="/registreerimine/register/"
        method="post"
        id="regform"
    >
      <b class="u-italic u-regular"><span class="u-required"></span>
        Tärniga märgitud väljad on kohustuslikud.</b>
      <h4>Laagrilaps</h4>
      {{>registrationFormChild}}
      <div class="registration-form__unit registration-form__unit--mt0">
        <a id="addChild">
          <div class="contents">
            <p>Lisa laps</p>
            <div class="u-plus"></div>
          </div>
        </a>
      </div>
      <h4>Kontaktisik</h4>
      <div class="registration-form__unit">
        <div class="registration-form__row">
          <div class="registration-form__field">
            <label for="guardian_name" class="u-required">Nimi</label>
            <input
                type="text"
                name="guardian_name"
                id="guardian_name"
                required
            />
          </div>
          <div class="registration-form__field">
            <label for="guardian_phone" class="u-required">Telefon</label>
            <input
                type="tel"
                name="guardian_phone"
                id="guardian_phone"
                required
            />
          </div>
          <div class="registration-form__field">
            <label for="guardian_email" class="u-required">E-post</label>
            <input
                type="email"
                name="guardian_email"
                id="guardian_email"
                required
            />
          </div>
        </div>
        <div class="registration-form__row">
          <div class="registration-form__field">
            <label for="alt_phone">Varutelefon</label>
            <input type="tel" name="alt_phone" id="alt_phone"/>
          </div>
          <div class="registration-form__field registration-form__field--row">
            <label for="disclaimer" class="u-required">Nõustun laagri
              <a
                  href="/info/laagrist/#kodukord"
                  class="t-visible"
              >kodukorraga</a>.</label>
            <input type="checkbox" id="disclaimer" required/>
          </div>
        </div>
      </div>
      <div id="emsa-notice" class="u-banner u-banner--info is-hidden">
        <p>Palun andke ka EMSA-le teada, et registreerite lapse(d)
          merelaagrisse.</p>
      </div>
      <input
          type="number"
          name="childCount"
          value="1"
          id="childCount"
          hidden
          readonly
          required
      />
      <button
          name="submit"
          value="submit"
          class="c-btn"
          id="submitBtn"
          disabled
      >Registreerin
      </button>
      <p class="u-inline-block">Broneerimistasu:
        <span id="pre-total">100</span>
        € | Kogusumma:
        <span id="payment-total">---</span>
        €</p>
    </form>
  </div>
</section>