<section class="registration">
    <div class="o-container">
        <h3 class="section-title">Registreerimine</h3>
        <form class="registration-form" action="/registreerimine/register/" method="post">
            <h4>Laagrilaps</h4>
            {{>registrationFormChild}}
            <div class="registration-form__unit">
                <div id="addChild">
                    <p>Lisa laps</p>
                    <div class="u-plus">+</div>
                </div>
            </div>
            <h4>Kontaktisik</h4>
            <div class="registration-form__unit">
                <div class="registration-form__row">
                    <div class="registration-form__field">
                        <label for="guardian_name">Nimi</label>
                        <input type="text" name="guardian_name" id="guardian_name" required>
                    </div>
                    <div class="registration-form__field">
                        <label for="guardian_phone">Telefon</label>
                        <input type="tel" name="guardian_phone" id="guardian_phone" required>
                    </div>
                    <div class="registration-form__field">
                        <label for="guardian_email">Email</label>
                        <input type="email" name="guardian_email" id="guardian_email" required>
                    </div>
                </div>
                <div class="registration-form__row">
                    <div class="registration-form__field">
                        <label for="alt_phone">Varutelefon</label>
                        <input type="tel" name="alt_phone" id="alt_phone">
                    </div>
                </div>
            </div>
            <button name="submit" value="submit">Registreeri</button>
        </form>
    </div>
</section>