<section class="success-message">
  <h3 class="">Kahjuks on kohad täis</h3>
  <p>Oleme teid lisanud reservnimekirja ja selle kohta teie meilile teate
    saatnud. Vabandame.</p>
  <p class="disclaimer">Kui te pole kümne minuti jooksul meilile teadet saanud,
    siis palun helistage / kirjutage vahetuse juhatajale. Soovitame vaadata ka
    rämpsposti.</p>
  <a href="/" class="c-btn c-btn--white">Tagasi kodulehele</a>
</section>