<section class="">
    <div class="o-container">
        <ul>
            <li>
                <a href="/info/">Info</a>
                <ul>
                    <li><a href="/info/vahetused/">Vahetused ja broneerimine</a>
                    </li>
                    <li>
                        <a href="/info/maksmine">Hinnad ja maksmine</a>
                    </li>
                    <li>
                        <a href="/info/laagrist/">Elu laagris</a>
                    </li>
                    <li>
                        <a href="/info/kkk/">Korduma kippuvad küsimused</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/pildid/">Pildid</a>
            </li>
            <li>
                <a href="/ajalugu/">Ajalugu</a>
            </li>
            <li>
                <a href="/meeskond/">Meeskond</a>
            </li>
            <li>
                <a href="/oiguslik/">Õigusalane teave</a>
                <ul>
                    <li>
                        <a href="/oiguslik/kasutajatingimused/">Veebilehe kasutajatingimused</a>
                    </li>
                    <li>
                        <a href="/oiguslik/isikuandmed/">Isikuandmete töötlemine</a>
                    </li>
                    <li>
                        <a href="/oiguslik/kupsised/">Küpsiste kasutamine</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>