<section class="success-message">
    <h3 class="">Ootame teid laagrisse!</h3>
    <p>Registreerimise kinnitus ning arve on saadetud teile meilile.</p>
    <p class="disclaimer">Kui te pole kümne minuti jooksul meilile kinnitust saanud, siis palun helistage / kirjutage
        vahetuse juhatajale. Soovitame vaadata ka rämpsposti.</p>
    <a href="/" class="c-btn c-btn--white">Tagasi kodulehele</a>
</section>
