<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Veebilehe kasutajatingimused</h3>
        <p>Viimati muudetud: 5. detsember 2020</p>
        <ol>
            <li><h4>Üldinfo</h4>
                <ol>
                    <li>Merelaagri veebilehe kasutajatingimused (edaspidi <b>Kasutajatingimused</b>) käivad
                        internetilehekülgede
                        kohta (edaspidi <b>Veebileht</b>), mis kuuluvad merelaager.ee domeeni alla.
                    </li>
                    <li>Veebilehe kasutamisega kinnitab kasutaja, et on käesolevate tingimustega tutvunud, neist aru
                        saanud ning
                        nõustub nendega täielikult.
                    </li>
                </ol>
            </li>
            <li>
                <h4>Veebilehel olev informatsioon</h4>
                <ol>
                    <li>
                        Kuigi oleme teinud omalt poolt kõik võimaliku, et Veebilehel olev info oleks täpne ja täielik,
                        ei taga
                        me info õigsust ega vastuta tagajärgede eest, mis võivad tuleneda väärinfo kasutamisest.
                    </li>
                </ol>
            </li>
            <li>
                <h4>Isikuandmete töötlemine</h4>
                <p>Infot selle kohta, kuidas taotleme isikuandmeid leiate <a href="/oiguslik/isikuandmed"
                                                                             class="t-visible">siit</a>.</p>
            </li>
            <li>
                <h4>Vastutuse piirang</h4>
                <ol>
                    <li>Veebilehe sisu on kasutamiseks põhimõttel <q>nagu on</q> (<q>as-is</q>). Me ei anna tagatisi
                        Veebilehe
                        ega sellel
                        leiduva info sisu kohta. Me ei vastuta kahju eest, mis võib olla Veebilehe kasutamisest
                        põhujstatud
                        isegi juhul, kui olime teadlikud Veebilehel olevast veast.
                    </li>
                </ol>
            </li>
            <li>
                <h4>Autoriõigus</h4>
                <ol>
                    <li>
                        Kogu veebilehel leiduv info, sealhulgas ka Veebilehe kujundus ja tarkvara kuulub merelaagrile,
                        kui ei ole teisiti sätestatud, ning seda võib kasutada vaid mitteärilistel eesmärkidel.
                    </li>
                    <li>Veebilehel sisalduvate piltide jagamine ilma meie eelneva kirjaliku loata on keelatud.
                        Laagrilastel ning
                        nende lähimatel pereliikmetel on õigus oma ümbruskonna siseselt osa pilte jagada ning üles
                        laadida, ent
                        on kohustatud need maha võtma kui neilt seda palutakse.
                    </li>
                    <li>Pildistamise kohta laagrivahetuse jooksul leiate infot meie <a href="/info/laagrist/#kodukord"
                                                                                       class="t-visible">kodukorrast</a>.
                    </li>
                    <li>Merelaagri brändi ning logomärkide kasutamise kohta leiate infot <a href="/oiguslik/brand/"
                                                                                            class="t-visible">siit</a>.
                    </li>
                    <li>Veebisaidi on disaininud Sander "Sass" Siim ning programmeerinud Taaniel "Taka" Kraavi.
                        Veebisaidi lähtekoodi on võimalik sirvida <a href="https://github.com/takakv/merelaager/"
                                                                     class="t-visible">siin</a>.
                    </li>
                </ol>
            </li>
            <li>
                <h4>Lingid</h4>
                <ol>
                    <li>Veebilehel olevad lingid kolmandate osapoolte internetilehekülgedele on vaid refereerimiseks
                        ja/või
                        täiendava, laagrist mittesõltuva info leidmise hõlpsustamiseks. Nende linkide olemasolu ei
                        tohiks
                        käsitleda meie heakskiiduna lehekülgedel leiduva info või pakutavate teenuste kohta. Taoliste
                        linkide
                        kasutamine toimub kasutaja enda riisikol ning me ei vastuta selliste lehekülgede sisu,
                        kättesaadavuse
                        ega kasutamise eest. Me ei ole kindlaks teinud sellistel lehekülgedel leiduva info tõesuse,
                        täpsuse,
                        usaldusväärsuse ega põhjalikkuse.
                    </li>
                </ol>
            </li>
            <li>
                <h4>Küpsised (Cookies) ning Web Storage</h4>
                <p>Info küpsiste ning Web Storagei kasutamise kohta leiate <a href="/oiguslik/kupsised/"
                                                                              class="t-visible">siit</a>.
                </p>
            </li>
    </div>
</section>
