<section class="">
    <div class="o-container">
        <h3 class="c-section-heading">Veebilehe kasutajatingimused</h3>
        <h4>Üldinfo</h4>
        <ol>
            <li>Merelaagri veebilehe kasutajatingimused (edaspidi <b>Kasutajatingimused</b>) käivad internetilehekülgede
                kohta (edaspidi <b>Veebileht</b>), mis kuuluvad merelaager.ee domeeni alla.
            </li>
            <li>Veebilehe kasutamisega kinnitab kasutaja, et on käesolevate tingimustega tutvunud, neist aru saanud ning
                nõustub nendega täielikult.
            </li>
        </ol>
        <h4>Veebilehel olev informatsioon</h4>
        <ol>
            <li>
                Kuigi oleme teinud omalt poolt kõik võimaliku, et Veebilehel olev info oleks täpne ja täielik, ei taga
                me info õigsust ega vastuta tagajärgede eest, mis võivad tuleneda väärinfo kasutamisest.
            </li>
        </ol>
        <h4>Vastutuse piirang</h4>
        <ol>
            <li>Veebilehe sisu on kasutamiseks põhimõttel "nagu on" ("as-is"). Me ei anna tagatisi Veebilehe ega sellel
                leiduva info sisu kohta. Me ei vastuta kahju eest, mis võib olla Veebilehe kasutamisest põhujstatud
                isegi juhul, kui olime teadlikud Veebilehel olevast veast.
            </li>
        </ol>
    </div>
</section>
