<section class="dates" id="ajad">
  <div class="o-container">
    <h3 class="c-section-heading">Laagrivahetuste ajad</h3>
    <div class="schedule">
      <div class="month">
        <h4 class="month__name">Juuni</h4>
        <div class="month__calendar">
          <div>E</div>
          <div>T</div>
          <div>K</div>
          <div>N</div>
          <div>R</div>
          <div>L</div>
          <div>P</div>
          <div></div>
          <div></div>
          <div class="not">1</div>
          <div class="not">2</div>
          <div class="not">3</div>
          <div class="not">4</div>
          <div class="not">5</div>
          <div class="not">6</div>
          <div class="not">7</div>
          <div class="not">8</div>
          <div class="not">9</div>
          <div class="not">10</div>
          <div class="not">11</div>
          <div class="not">12</div>
          <div class="not">13</div>
          <div class="not">14</div>
          <div class="not">15</div>
          <div class="not">16</div>
          <div class="not">17</div>
          <div class="not">18</div>
          <div class="not">19</div>
          <div class="not">20</div>
          <div class="not">21</div>
          <div class="not">22</div>
          <div class="not">23</div>
          <div class="not">24</div>
          <div class="start lite">25</div>
          <div class="lite">26</div>
          <div class="lite">27</div>
          <div class="lite">28</div>
          <div class="lite">29</div>
          <div class="lite">30</div>
        </div>
      </div>
      <div class="month">
        <h4 class="month__name">Juuli</h4>
        <div class="month__calendar">
          <div>E</div>
          <div>T</div>
          <div>K</div>
          <div>N</div>
          <div>R</div>
          <div>L</div>
          <div>P</div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div class="lite">1</div>
          <div class="lite">2</div>
          <div class="not">3</div>
          <div class="start">4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
          <div>9</div>
          <div>10</div>
          <div>11</div>
          <div>12</div>
          <div>13</div>
          <div>14</div>
          <div>15</div>
          <div class="not">16</div>
          <div class="start lite">17</div>
          <div class="lite">18</div>
          <div class="lite">19</div>
          <div class="lite">20</div>
          <div class="lite">21</div>
          <div class="lite">22</div>
          <div class="not">23</div>
          <div class="not">24</div>
          <div class="start">25</div>
          <div>26</div>
          <div>27</div>
          <div>28</div>
          <div>29</div>
          <div>30</div>
          <div>31</div>
        </div>
      </div>
      <div class="month">
        <h4 class="month__name">August</h4>
        <div class="month__calendar">
          <div>E</div>
          <div>T</div>
          <div>K</div>
          <div>N</div>
          <div>R</div>
          <div>L</div>
          <div>P</div>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div class="not">6</div>
          <div class="not">7</div>
          <div class="start lite">8</div>
          <div class="lite">9</div>
          <div class="lite">10</div>
          <div class="lite">11</div>
          <div class="lite">12</div>
          <div class="lite">13</div>
          <div class="lite">14</div>
          <div class="lite">15</div>
          <div class="lite">16</div>
          <div class="lite">17</div>
          <div class="lite">18</div>
          <div class="lite">19</div>
          <div class="not">20</div>
          <div class="not">21</div>
          <div class="not">22</div>
          <div class="not">23</div>
          <div class="not">24</div>
          <div class="not">25</div>
          <div class="not">26</div>
          <div class="not">27</div>
          <div class="not">28</div>
          <div class="not">29</div>
          <div class="not">30</div>
          <div class="not">31</div>
        </div>
      </div>
    </div>
    <div class="details o-grid">
      <div class="c-shift-card">
        <div class="details-card__header">
          I vahetus<span class="u-wave"></span>25.06-02.07<span
          class="u-wave"
        ></span>8 päeva
        </div>
        <div class="details-contact">
          <b>Sanna Aaslav-Kaasik</b>
          <p>sanna@<span style="display:none;">ignoreme-</span>merelaager.ee</p>
          <p>+372 5622 6906</p>
        </div>
        <!--div class="contact__free">
            <div class="count">-</div>
        </div-->
      </div>
      <div class="c-shift-card">
        <div class="details-card__header">
          II vahetus<span class="u-wave"></span>04.07-15.07<span
          class="u-wave"
        ></span>12 päeva
        </div>
        <div class="details-contact">
          <b>Markus Laurik</b>
          <p>markus@<span style="display:none;">ignoreme-</span>merelaager.ee</p>
          <p>+372 5694 0815</p>
        </div>
        <!--div class="contact__free">
            <div class="count">-</div>
        </div-->
      </div>
      <div class="c-shift-card">
        <div class="details-card__header">
          III vahetus<span class="u-wave"></span>17.07-22.07<span
          class="u-wave"
        ></span>6 päeva
        </div>
        <div class="details-contact">
          <b>Tiia Aasaru</b>
          <p>tiia@<span style="display:none;">ignoreme-</span>merelaager.ee</p>
          <p>+372 5648 0171</p>
        </div>
        <!--div class="contact__free">
            <div class="count">-</div>
        </div-->
      </div>
      <div class="c-shift-card">
        <div class="details-card__header">NB!</div>
        III vahetus on merelaagrit tutvustav vahetus ja mõeldud eelkõige uutele
        tulijatele. Vahetusse võtame 8–12aastaseid lapsi (suve seisuga).
      </div>
      <div class="c-shift-card">
        <div class="details-card__header">
          IV vahetus<span class="u-wave"></span>25.07-05.08<span
          class="u-wave"
        ></span>12 päeva
        </div>
        <div class="details-contact">
          <b>Maria Maastik</b>
          <p>maria@<span style="display:none;">ignoreme-</span>merelaager.ee</p>
          <p>+372 5665 8969</p>
        </div>
        <!--div class="contact__free">
            <div class="count">-</div>
        </div-->
      </div>
      <div class="c-shift-card">
        <div class="details-card__header">
          V vahetus<span class="u-wave"></span>08.08-19.08<span
          class="u-wave"
        ></span>12 päeva
        </div>
        <div class="details-contact">
          <b>Martin Reinok</b>
          <p>martin@<span style="display:none;">ignoreme-</span>merelaager.ee</p>
          <p>+372 5822 9985</p>
        </div>
        <!--div class="contact__free">
            <div class="count">-</div>
        </div-->
      </div>
    </div>
    <div class="u-banner u-banner--info">
      <p>
        Vabade kohtade puudumisel soovitame registreeruda reservnimekirja. Kui
        põhinimekirjas koht vabaneb, võtame teiega esimesel võimalusel ühendust.
      </p>
    </div>
  </div>
</section>
<section class="broneerimine" id="broneerimine">
  <div class="o-container">
    <h3 class="c-section-heading">Broneerimine</h3>
    <b class="u-orange">TÄHELEPANU!</b>
    <!-- p>01.01.22. kell 14.00 avaneb siin registreerimisportaal.</p-->
    <p>
      Laagrisse registreerimine toimub ainult läbi kodulehe. Kui registreerija
      on ankeedi täitnud, saab ta oma kontaktmeilile arve laagri osalustasu
      maksmiseks.
    </p>
    <br/>
    <a
      class="c-btn u-text-center"
      href="/registreerimine/"
    >Registreerimisportaal</a>
    <br/>
    <br/>
    <p>
      Makseinfo leiate
      <a class="t-visible" href="../maksmine/#makseinfo">siit</a>.
    </p>
  </div>
</section>