<section class="dates">
    <div class="o-container">
        <h3 class="section-title">Laagrivahetuste ajad</h3>
        <div class="schedule">
            <div class="month">
                <h4 class="month__name">Juuni</h4>
                <div class="month__calendar">
                    <div>E</div>
                    <div>T</div>
                    <div>K</div>
                    <div>N</div>
                    <div>R</div>
                    <div>L</div>
                    <div>P</div>
                    <div></div>
                    <div class="not">1</div>
                    <div class="not">2</div>
                    <div class="not">3</div>
                    <div class="not">4</div>
                    <div class="not">5</div>
                    <div class="not">6</div>
                    <div class="not">7</div>
                    <div class="not">8</div>
                    <div class="not">9</div>
                    <div class="not">10</div>
                    <div class="not">11</div>
                    <div class="not">12</div>
                    <div class="not">13</div>
                    <div class="not">14</div>
                    <div class="not">15</div>
                    <div class="not">16</div>
                    <div class="not">17</div>
                    <div class="not">18</div>
                    <div class="not">19</div>
                    <div class="not">20</div>
                    <div class="not">21</div>
                    <div class="not">22</div>
                    <div class="not">23</div>
                    <div class="not">24</div>
                    <div>25</div>
                    <div>26</div>
                    <div>27</div>
                    <div>28</div>
                    <div>29</div>
                    <div>30</div>
                </div>
            </div>
            <div class="month">
                <h4 class="month__name">Juuli</h4>
                <div class="month__calendar">
                    <div>E</div>
                    <div>T</div>
                    <div>K</div>
                    <div>N</div>
                    <div>R</div>
                    <div>L</div>
                    <div>P</div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div>1</div>
                    <div>2</div>
                    <div class="not">3</div>
                    <div class="not">4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>8</div>
                    <div>9</div>
                    <div>10</div>
                    <div>11</div>
                    <div>12</div>
                    <div>13</div>
                    <div>14</div>
                    <div>15</div>
                    <div>16</div>
                    <div class="not">17</div>
                    <div class="not">18</div>
                    <div>19</div>
                    <div>20</div>
                    <div>21</div>
                    <div>22</div>
                    <div>23</div>
                    <div>24</div>
                    <div>25</div>
                    <div>26</div>
                    <div>27</div>
                    <div>28</div>
                    <div>29</div>
                    <div>30</div>
                    <div class="not">31</div>
                </div>
            </div>
            <div class="month">
                <h4 class="month__name">August</h4>
                <div class="month__calendar">
                    <div>E</div>
                    <div>T</div>
                    <div>K</div>
                    <div>N</div>
                    <div>R</div>
                    <div>L</div>
                    <div>P</div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div class="not">1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>8</div>
                    <div>9</div>
                    <div>10</div>
                    <div>11</div>
                    <div>12</div>
                    <div>13</div>
                    <div class="not">14</div>
                    <div class="not">15</div>
                    <div class="not">16</div>
                    <div class="not">17</div>
                    <div class="not">18</div>
                    <div class="not">19</div>
                    <div class="not">20</div>
                    <div class="not">21</div>
                    <div class="not">22</div>
                    <div class="not">23</div>
                    <div class="not">24</div>
                    <div class="not">25</div>
                    <div class="not">26</div>
                    <div class="not">27</div>
                    <div class="not">28</div>
                    <div class="not">29</div>
                    <div class="not">30</div>
                    <div class="not">31</div>
                </div>
            </div>
        </div>
        <div class="details">
            <div class="details-card">
                <div class="details-card__header">
                    I vahetus<span class="u-wave"></span>25.06-03.07<span
                        class="u-wave"
                ></span
                >8 päeva
                </div>
                <div class="details-contact">
                    <b>Kai Kukepuu</b>
                    <p>kai@merelaager.ee</p>
                    <p>+372 503 9095</p>
                </div>
                <div class="contact__free">
                    <div class="count">-</div>
                </div>
            </div>
            <div class="details-card">
                <div class="details-card__header">
                    II vahetus<span class="u-wave"></span>06.07-17.07<span
                        class="u-wave"
                ></span
                >12 päeva
                </div>
                <div class="details-contact">
                    <b>Ahto Aaslav-Kaasik</b>
                    <p>ahto@merelaager.ee</p>
                    <p>+372 5628 6586</p>
                </div>
                <div class="contact__free">
                    <div class="count">-</div>
                </div>
            </div>
            <div class="details-card">
                <div class="details-card__header">
                    III vahetus<span class="u-wave"></span>20.07-31.07<span
                        class="u-wave"
                ></span
                >12 päeva
                </div>
                <div class="details-contact">
                    <b>Katrin Mellis</b>
                    <p>kati@merelaager.ee</p>
                    <p>+372 5662 8044</p>
                </div>
                <div class="contact__free">
                    <div class="count">-</div>
                </div>
            </div>
            <div class="details-card">
                <div class="details-card__header">
                    IV vahetus<span class="u-wave"></span>03.08-14.08<span
                        class="u-wave"
                ></span
                >12 päeva
                </div>
                <div class="details-contact">
                    <b>Leho Rohtla</b>
                    <p>leho@merelaager.ee</p>
                    <p>+372 518 6648</p>
                </div>
                <div class="contact__free">
                    <div class="count">-</div>
                </div>
            </div>
            <div class="u-banner u-banner--info">
                <p>
                    Vabade kohtade puudumisel soovitame registreeruda
                    reservnimekirja. Kui põhinimekirjas koht vabaneb, võtame teiega
                    esimesel võimalusel ühendust.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="broneerimine">
    <div class="o-container">
        <h3 class="section-title">Broneerimine</h3>
        <div class="u-banner u-banner--info">
            <p>
                Laagrikohtade broneerimine algab 1. jaanuaril 2021. Hetkel töötame
                välja kindlamat ja mugavamat broneerimissüsteemi kui eelnevatel
                aastatel. Hiljemalt jõuludeks on informatsioon uue süsteemi kohta
                olemas.
            </p>
        </div>
        <p>
            Makseinfo leiate
            <a class="t-visible" href="../maksmine/#makseinfo">siit</a>.
        </p>
    </div>
</section>