@{
    ViewData["Title"] = "Info";
    ViewData["Description"] = "Erinevad ressursid nii laagrilisele kui ka lapsevanemale.";
}

<section class="tree">
    <div class="o-container">
        <h3 class="section-title">Kategooriad</h3>
        <ul class="links">
            <li class="link">
                <a href="vahetused/">Vahetused ja broneerimine</a>
            </li>
            <li class="link">
                <a href="maksmine/">Hinnad ja maksmine</a>
            </li>
            <li class="link">
                <a href="laagrist/">Elu laagris</a>
            </li>
            <li class="link">
                <a href="kkk/">Korduma kippuvad küsimused</a>
            </li>
        </ul>
    </div>
</section>
<section class="">
    <div class="o-container">
        <h3 class="section-title">Meelespea</h3>
        <ul>
            <li>
                Broneerimine
                <ul>
                    <li>Info peatselt</li>
                </ul>
            </li>
            <li>
                Laagrisse kaasa
                <ul>
                    <li>Usalduslike andmete kaart</li>
                    <li>Vihmariided</li>
                    <li>Veejalanõud</li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<section class="sponsorid">
    <h3 class="section-title">Meid Toetavad</h3>
    <ul class="sponsors">
        <li class="sponsor">
            <a class="sponsor__link" href="https://www.hm.ee/et" target="_blank">
                <img alt="Haridus- ja Teadusministeerium" class="sponsor__img" src="~/img/hm_600px.png"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://mil.ee/uksused/ohuvagi/lennubaas/" target="_blank">
                <img alt="Lennubaas" class="sponsor__img" src="~/img/lennubaas_600px.png"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://veeteedeamet.ee/et" target="_blank">
                <img alt="Veeteede amet" class="sponsor__img" src="~/img/va_600px.png"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://www.tallink.ee" target="_blank">
                <img alt="Tallink" class="sponsor__img sponsor__img--tallink" src="~/img/tallink.svg"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://emsa.ee/" target="_blank">
                <img alt="EMSA" class="sponsor__img" src="~/img/emsa_600px.png"/>
            </a>
        </li>
    </ul>
</section>