@{
    ViewData["Title"] = "Elu laagris";
    ViewData["Description"] = "Info laagrielu kohta: päevakava, kodukord, asukoht jms.";
    ViewData["BodyClass"] = "laagrist";
}

<section class="location" id="asukoht">
    <div class="o-container">
        <h3 class="section-title">Laagri asukoht ja kogunemine</h3>
        <p>Laager asub Harju maakonnas, Lääne-Harju vallas, Laoküla külas.</p>
        <p>
            Laagrisse saab tulla ühiskogunemisel rongiga või ise autoga kohale
            tulla.
        </p>
        <p>
            <b>Juhised rongiga tulijale:</b> Kogunemine toimub 03.08.
            Balti-Jaamas Paldiski rongi perroonil 9:50. Rong väljub 10:13.
        </p>
        <p>
            Piletiraha peab lapsel kaasas olema. Balti-Jaamas võtab lapsed vastu
            laagri kasvataja.
        </p>
        <p>
            Elroni piletiinfo leiad
            <a
                class="t-visible"
                href="https://www.elron.ee/piletiinfo/piletid"
                target="_blank">
                siit
            </a
            >.
        </p>
        <p>
            Elroni
            <a class="t-visible" href="https://elron.ee/" target="_blank">
                kodulehelt
            </a
            >
            ostes on piletid 15% soodsamad.
        </p>
        <p>
            Lapsele laagriasjade pakkimisel palume arvestada, et võib toimuda
            ümberistumine asendus bussi – see tähendab, et asjad oleksid pakitud
            võimalikult kompaktselt, et mõni lisa kott ei ununeks rongi ega
            bussi 🙂
            <b
            >
                NB! Elron ja meie soovitame kanda rongis ja asendusbussis
                maske!
            </b
            >
        </p>
        <p>
            <b>Juhised autoga tulijale:</b> Sõida Paldiski poole. Lõunasadama
            ristmikult (Alexela bensiinijaama juurest) keera vasakule.
            Järgmiselt ristmikult jälle vasakule Madise poole. Kohe näed tee
            ääres Laoküla silti ja siis kohe merelaagri viita. Meieni toob
            rannakarjamaa, kust on meid juba mere ääres näha:)
        </p>
        <p>Kui tee peal hätta jääd – helista meile!</p>
    </div>
</section>
<section class="laagrisse">
    <div class="o-container">
        <h3 class="section-title">Laagrisse kaasa</h3>
        <ul>
            <li>USALDUSLIKE ANDMETE KAART</li>
            <li>Magamiskott ja padjapüür</li>
            <li>Hügieenitarbed, saunalina ja rätik</li>
            <li>Isiklik nimeline korduvkasutatav veepudel</li>
            <li>Vihmakindlad riided ja jalanõud</li>
            <li>
                Ujumisriided ja jalanõud vees käimiseks kivisel põhjal
                (rannasussid)
            </li>
            <li>Peakate</li>
            <li>Soe kampsun ja villased sokid</li>
            <li>Sportlikud riided ja jalanõud</li>
            <li>Taskulamp ja varupatareid</li>
            <li>Päikesekaitsevahendid</li>
            <li>Hea tuju!!!</li>
        </ul>
        <br/>
        <p>
            Riideid valides arvestage Eestimaa merelise kliimaga kus esineb nii
            päikest kui äikest!
        </p>
    </div>
</section>
<section class="kava">
    <div class="o-container">
        <h3 class="section-title">Päevakava</h3>
        <p>
            8.30 – laagri äratus, voodite korrastus<br/>
            8.45 – rivistus ja lipu heiskamine<br/>
            8.50 – hommikujooks ja -võimlemine<br/>
            9.30 – hommikusöök<br/>
            9.30 – koristamine, toimkond, valmistumine merele minekuks<br/>
            10.00 – tegevus maal või merel<br/>
            13.00 – valmistumine lõunasöögiks<br/>
            13.30 – lõunasöök<br/>
            Admirali tund<br/>
            14.45 – valmistumine merele minekuks<br/>
            15.00 – tegevus maal või merel<br/>
            18.00 – merelise tegevuse lõpetamine, korrastamine, pesemine<br/>
            19.00 – õhtusöök<br/>
            19.30 – lõkkeõhtud, mängud, viktoriinid, võistlused, disko<br/>
            22.30 – rivistus, lipu langetamine (sõltuvalt päikese loojangust)<br/>
            pesemine, valmistumine magama minekuks<br/>
            23.00 – öörahu<br/><br/>
            Päevakava võib muutuda ilma või muude asjaolude tõttu.
        </p>
    </div>
</section>
<section class="kodukord">
    <div class="o-container">
        <h3 class="section-title">Kodukord</h3>
        <ul>
            <li>
                Laager ei vastuta kaasa võetud elektrooniliste vidinate ja
                väärisesemete eest
            </li>
            <li>Telefone palume laagrisse mitte kaasa võtta</li>
            <li>
                Laagris viibijad on kohustatud täitma laagri kodukorda,
                päevakorda, juhataja ja kasvatajate korraldusi
            </li>
            <li>
                Laagri territooriumilt lahkumine on lubatud ainult laagri juhataja
                loal
            </li>
            <li>
                Tahtliku materiaalse kahju tekitamisel korvab kahju lapse vanem
                või hooldaja
            </li>
            <li>
                Laagri kodukorra rikkumisel võetakse ühendust lapse vanema või
                hooldajaga ning vajadusel saadetakse noor enne laagriaja lõppemist
                koju. Laagritasu ei hüvitata
            </li>
            <li>
                Osalemistasu lapse lahkumisel laagrist enne vahetuse lõppu
                laagrist mitte olenevatel põhjustel tagasi ei maksta. Põhjus:
                laager on lapse osalemisega arvestanud
            </li>
            <li>
                Olen teadlik, et lapsi pildistatakse laagris ja pildid avaldatakse
                meedias, kodulehel ja sotsiaalmeedias. Keeldumisest anda teada
                kirjalikult laagri juhatajale
            </li>
            <li>
                Laagri töötajatel on õigus keelatud ainete ja asjade olemasolu
                kahtluse korral teostada lapse isiklike asjade läbivaatus
            </li>
        </ul>
        <br/>
        <h4>Laagrisse on keelatud kaasa võtta:</h4>
        <ul>
            <li>alkohoolseid-, narkootilisi- ja toksilisi aineid,</li>
            <li>tubakatooteid,</li>
            <li>pürotehnilisi ja tuleohtlikke aineid ja vahendeid, relvi,</li>
            <li>
                ravimeid (v.a. retseptiravimid, mis on kantud tervisetõendile).
            </li>
        </ul>
        <br/>
        <p>
            Hoiule võetud keelatud ained ja asjad (v.a. narkootilised ained)
            tagastatakse lapsevanemale.<br/>Alkojoobe tuvastamine toimub laagri
            omanduses oleva kalibreeritud alkomeetriga kahe kasvataja
            juuresolekul. <br/>Narkootiliste ainete omamise või kasutamise
            kahtluse korral teavitame politseid.<br/>
            Keelatud ainete ja vahendite omamine ja kasutamine lõppeb lapse
            laagrist eemaldamisega.
        </p>
    </div>
</section>
<section class="sponsorid">
    <h3 class="section-title">Meid Toetavad</h3>
    <ul class="sponsors">
        <li class="sponsor">
            <a class="sponsor__link" href="https://www.hm.ee/et" target="_blank">
                <img alt="Haridus- ja Teadusministeerium" class="sponsor__img" src="~/img/hm_600px.png"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://mil.ee/uksused/ohuvagi/lennubaas/" target="_blank">
                <img alt="Lennubaas" class="sponsor__img" src="~/img/lennubaas_600px.png"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://veeteedeamet.ee/et" target="_blank">
                <img alt="Veeteede amet" class="sponsor__img" src="~/img/va_600px.png"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://www.tallink.ee" target="_blank">
                <img alt="Tallink" class="sponsor__img sponsor__img--tallink" src="~/img/tallink.svg"/>
            </a>
        </li>
        <li class="sponsor">
            <a class="sponsor__link" href="https://emsa.ee/" target="_blank">
                <img alt="EMSA" class="sponsor__img" src="~/img/emsa_600px.png"/>
            </a>
        </li>
    </ul>
</section>